.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title-container  {
    margin: 0;
  }
  
  .title-container button {
    margin-left: 10px; 
  }

.owner-list-content {
    display: flex; 
    align-items: center; 
  }
  
  .select-content {
    margin-right: 3cqw; 
  }
  .search-content {
    margin-right: 30px; 
  }

  
  